body{
  font-family: 'Roboto', sans-serif;
}
.container{ max-width: 500px; width:100%; margin:0 auto;  }
table.diamondsweeper-board td { padding: 0; border: 1px solid #7B1FA2; }
table{ background-color:#f0f0f0; border:1px solid #ccc; padding:10px;  }
table td,
table td > div{ border-radius:100%; border-color:#fff; }
.cell { height: 3em; width: 3em; background-size: 3em 3em; }
.cell.diamond { background-image: url(assets/diamond.png); background-color:#f44336; -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
  /*.cell.arrow {
    background-image: url(/assets/arrow.png); }*/
.cell.unknown {background-image: url(assets/question.png); }
.cell:hover{ background-color:#7B1FA2; cursor:pointer }
.message { margin:10px auto; background-color:#7B1FA2; padding:10px 15px; color:#fff; }
.message .countmsg{ display:inline-block; }
.message .countmsg:last-child{ float:right; }
.footer button{ padding:0 10px; border:0; background-color:#fff; height:30px; background-color:#c11732; text-transform:uppercase; color:#fff; border-radius:5px; cursor:pointer; }
.footer button:hover{ background-color:#fff; color:#c11732; }
.footer p { display:inline-block; width:80%; margin:0; }